.header{
  display: flex;
	background-color:#181818;
}

.logo{
	width: 290px;
	margin-left: 5px;
	padding:5px;
  cursor: pointer;
}

.nav {
  margin: 0;
  line-height: 94px;
}

.nav-list {
	display: inline-block;
 	padding:0 50px;
  color: #fff;
  line-height: 50px;

}

.link {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

a:hover{
  color:#DC143C;
}
