@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

body {
  margin: 0;
  padding: 0;
}

.p-carousel-item {
  flex: none !important;
  width: 300px;
  margin: 0px 33px;
}
